.description {
  background-color: #ffa338;
  color: white;
  padding-bottom: 90px;
  @media (max-width: 575px) {
    padding-bottom: 60px;
  }
}

.description-h2 {
  font-family: coolvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  margin-top: 100px;
  @media (max-width: 575px) {
    font-size: 30px;
    margin-top: 60px;
  }
}

.description-p {
  font-family: coolvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 44px;
  @media (max-width: 575px) {
    font-size: 18px;
    margin-top: 20px;
  }
}

.description-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
}

.description-button {
  border: 2px solid #fff;
  &:hover {
    background-color: #fff;
    color: #ffa338;
  }
}
