.hm-img {
  padding: 0;
}

.hm-logo {
  width: 228px;
  margin-top: 70px;
}

.hm-nav a {
  font-family: "coolvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 35;
}

.hm-nav-ligne {
}
